@use "../abstracts";

html {
  scroll-behavior: smooth;
}

body {
  color: abstracts.$color-main;
  background-color: abstracts.$color-main-bg;
  min-height: 100dvh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

a {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  text-decoration: unset;
}

button {
  padding: 0;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: inherit;
  color: inherit;
  line-height: inherit;
  text-align: left;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

ul li,
ol li {
  list-style: none;
}
